/*=====RESET===== */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*=====GRID===== */
body {
  width: 100%; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.grid-container:before, .grid-5:before, .mobile-grid-5:before, .grid-10:before, .mobile-grid-10:before, .grid-15:before, .mobile-grid-15:before, .grid-20:before, .mobile-grid-20:before, .grid-25:before, .mobile-grid-25:before, .grid-30:before, .mobile-grid-30:before, .grid-35:before, .mobile-grid-35:before, .grid-40:before, .mobile-grid-40:before, .grid-45:before, .mobile-grid-45:before, .grid-50:before, .mobile-grid-50:before, .grid-55:before, .mobile-grid-55:before, .grid-60:before, .mobile-grid-60:before, .grid-65:before, .mobile-grid-65:before, .grid-70:before, .mobile-grid-70:before, .grid-75:before, .mobile-grid-75:before, .grid-80:before, .mobile-grid-80:before, .grid-85:before, .mobile-grid-85:before, .grid-90:before, .mobile-grid-90:before, .grid-95:before, .mobile-grid-95:before, .grid-100:before, .mobile-grid-100:before, .grid-33:before, .mobile-grid-33:before, .grid-66:before, .mobile-grid-66:before, .clearfix:before,
.grid-container:after,
.grid-5:after,
.mobile-grid-5:after,
.grid-10:after,
.mobile-grid-10:after,
.grid-15:after,
.mobile-grid-15:after,
.grid-20:after,
.mobile-grid-20:after,
.grid-25:after,
.mobile-grid-25:after,
.grid-30:after,
.mobile-grid-30:after,
.grid-35:after,
.mobile-grid-35:after,
.grid-40:after,
.mobile-grid-40:after,
.grid-45:after,
.mobile-grid-45:after,
.grid-50:after,
.mobile-grid-50:after,
.grid-55:after,
.mobile-grid-55:after,
.grid-60:after,
.mobile-grid-60:after,
.grid-65:after,
.mobile-grid-65:after,
.grid-70:after,
.mobile-grid-70:after,
.grid-75:after,
.mobile-grid-75:after,
.grid-80:after,
.mobile-grid-80:after,
.grid-85:after,
.mobile-grid-85:after,
.grid-90:after,
.mobile-grid-90:after,
.grid-95:after,
.mobile-grid-95:after,
.grid-100:after,
.mobile-grid-100:after,
.grid-33:after,
.mobile-grid-33:after,
.grid-66:after,
.mobile-grid-66:after,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.grid-container:after, .grid-5:after, .mobile-grid-5:after, .grid-10:after, .mobile-grid-10:after, .grid-15:after, .mobile-grid-15:after, .grid-20:after, .mobile-grid-20:after, .grid-25:after, .mobile-grid-25:after, .grid-30:after, .mobile-grid-30:after, .grid-35:after, .mobile-grid-35:after, .grid-40:after, .mobile-grid-40:after, .grid-45:after, .mobile-grid-45:after, .grid-50:after, .mobile-grid-50:after, .grid-55:after, .mobile-grid-55:after, .grid-60:after, .mobile-grid-60:after, .grid-65:after, .mobile-grid-65:after, .grid-70:after, .mobile-grid-70:after, .grid-75:after, .mobile-grid-75:after, .grid-80:after, .mobile-grid-80:after, .grid-85:after, .mobile-grid-85:after, .grid-90:after, .mobile-grid-90:after, .grid-95:after, .mobile-grid-95:after, .grid-100:after, .mobile-grid-100:after, .grid-33:after, .mobile-grid-33:after, .grid-66:after, .mobile-grid-66:after, .clearfix:after {
  clear: both; }

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: absolute;
  top: 0; }

.grid-container-internal {
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px; }

.grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px; }

.grid-parent {
  padding-left: 0;
  padding-right: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \ */
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/*=====TYPOGRAPHY===== */
/*--General-- */
html {
  font-size: 80%; }

p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #000;
  font-weight: 400;
  line-height: 1.5; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #fff;
  font-weight: 900; }

h1 {
  font-family: "Lato", sans-serif;
  font-size: 3.714em;
  color: #fff;
  font-weight: 900; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/*--Header-- */
.top-nav form input {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 400; }

nav ul .dropdown {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #c7eb56;
  font-weight: 700; }
  nav ul .dropdown > a {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: #c7eb56;
    font-weight: 700; }
    nav ul .dropdown > a:visited {
      color: #c7eb56; }
  nav ul .dropdown ul .sub-nav a {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: #84bccf;
    font-weight: 400; }
    nav ul .dropdown ul .sub-nav a ul .flyout-nav a {
      font-family: "Lato", sans-serif;
      font-size: 1em;
      color: #84bccf;
      font-weight: 400; }

.donate {
  font-family: "Lato", sans-serif;
  font-size: 1.142em;
  color: #000;
  font-weight: 700;
  background-color: #feb942;
  padding: 12px 34px; }
  .donate:hover {
    color: #000; }

/*--Spotlight-- */
.spotlight-title {
  font-family: "Lato", sans-serif;
  font-size: 5.961em;
  color: #fff;
  font-weight: 900; }

.icon-next, .icon-prev {
  font-family: "Lato", sans-serif;
  font-size: 10em;
  color: #fff;
  font-weight: 900;
  height: 200%; }

.spotlight-subtitle {
  font-family: "Lato", sans-serif;
  font-size: 2.289em;
  color: #fff;
  font-weight: 700; }

.learn-more {
  font-family: "Lato", sans-serif;
  font-size: 1.142em;
  color: #000;
  font-weight: 700;
  background-color: #feb942;
  padding: 15px 56px; }
  .learn-more:hover {
    background-color: #c7eb56;
    color: #000; }

/*--Quick Links-- */
.quick-link a {
  font-family: "Lato", sans-serif;
  font-size: 2.398em;
  color: #fff;
  font-weight: 900; }

.quick-link-description {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #000;
  font-weight: 400; }

/*--Latest News-- */
.most-recent-date .month-day {
  font-family: "Lato", sans-serif;
  font-size: 1.857em;
  color: #84bccf;
  font-weight: 400; }

.most-recent-date .year {
  font-family: "Lato", sans-serif;
  font-size: 1.857em;
  color: #c0c0c0;
  font-weight: 400; }

.most-recent-title {
  font-family: "Lato", sans-serif;
  font-size: 1.571em;
  color: #000;
  font-weight: 700; }

.story-month {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #fff;
  font-weight: 400; }

.story-day {
  font-family: "Lato", sans-serif;
  font-size: 1.905em;
  color: #c7eb56;
  font-weight: 700; }

.story-title {
  font-family: "Lato", sans-serif;
  font-size: 1.286em;
  color: #c7eb56;
  font-weight: 700; }

.see-more {
  font-family: "Lato", sans-serif;
  font-size: 0.871em;
  color: #000;
  font-weight: 700;
  background-color: #feb942; }
  .see-more:hover {
    background-color: #c7eb56; }

input[placeholder] {
  font-family: "Lato", sans-serif;
  font-size: 1.142em;
  color: #b6b5b5;
  font-weight: 400;
  padding-left: 15px; }

/*--Footer-- */
footer p {
  color: #fff; }

#footer-company-name {
  color: #feb942; }

footer a {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #c7eb56;
  font-weight: 400; }

/*=====COMPONENTS===== */
/*Dropdown Menu */
.nav-wrap {
  z-index: 20;
  max-width: 1180px;
  margin: 0 auto;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000; }
  .nav-wrap > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 65%; }
    .nav-wrap > ul > li {
      flex: 1 1 auto;
      align-self: center;
      padding: 13px 0; }
    .nav-wrap > ul li {
      text-align: left;
      display: inline-block;
      position: relative; }
      .nav-wrap > ul li:hover > ul {
        display: block; }
        .nav-wrap > ul li:hover > ul li:hover {
          background-color: #84bccf; }
          .nav-wrap > ul li:hover > ul li:hover > a {
            color: #000;
            font-weight: 700; }
          .nav-wrap > ul li:hover > ul li:hovera {
            margin: 13px 25px; }
      .nav-wrap > ul li a {
        display: block; }
    .nav-wrap > ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0px; }
      .nav-wrap > ul ul li {
        background-color: rgba(40, 42, 34, 0.9);
        width: 180px;
        height: 45px;
        text-align: left; }
        .nav-wrap > ul ul li a {
          margin: 13px auto 13px 25px; }
      .nav-wrap > ul ul ul {
        top: 0;
        left: 100%; }

/*=====HEADER===== */
nav {
  background-color: #000;
  margin: 0 auto;
  max-width: 100%; }

.top-nav {
  width: 100%;
  height: 111px;
  background: rgba(0, 0, 0, 0.8); }
  .top-nav .top-nav-content {
    max-width: 1180px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .top-nav .top-nav-content form input {
      background: transparent;
      border: none; }
      .top-nav .top-nav-content form input:focus {
        border-bottom: solid 2px #fff;
        outline: none; }
    .top-nav .top-nav-content form button {
      background: transparent;
      border: none; }

.internal {
  background: url("../../images/internal-header.jpg");
  height: 399px;
  box-shadow: 0 10px 20px #000; }
  .internal h1 {
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%, 0%); }

/*=====FOOTER===== */
footer {
  background: url("../../images/footer.jpg"); }
  footer .footer-content {
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 140px 0;
    max-width: 1180px;
    margin: 0 auto; }
    footer .footer-content .footer-navigation {
      margin-left: -30%; }
    footer .footer-content .copyright-section {
      text-align: right; }
      footer .footer-content .copyright-section img {
        margin-bottom: 30px; }

/*=====HOMEPAGE SPECIFIC===== */
.spotlight {
  max-width: 1180px;
  margin: 30% auto 95px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .spotlight .spotlight-title {
    margin-bottom: 76px; }
  .spotlight .spotlight-subtitle {
    margin-bottom: 75px;
    width: 70%; }

.quick-links-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin: 0 auto 80px auto;
  max-width: 1180px;
  height: auto;
  background-color: #fff;
  box-sizing: border-box; }
  .quick-links-wrap .quick-item {
    margin: 80px 10px 0 10px; }
    .quick-links-wrap .quick-item .quick-link {
      display: flex;
      height: 250px;
      flex-direction: column;
      justify-content: flex-end; }
      .quick-links-wrap .quick-item .quick-link a {
        width: 100%;
        height: 145%;
        padding-top: 45%; }
    .quick-links-wrap .quick-item .quick-link-description {
      margin: 40px auto 0 auto;
      text-align: left; }
    .quick-links-wrap .quick-item .left {
      background: url("../../images/quick-link1.jpg");
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      .quick-links-wrap .quick-item .left a:hover {
        background: rgba(254, 185, 66, 0.8); }
    .quick-links-wrap .quick-item .middle {
      background: url("../../images/quick-link2.jpg");
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      .quick-links-wrap .quick-item .middle a:hover {
        background: rgba(132, 188, 207, 0.8); }
    .quick-links-wrap .quick-item .right {
      background: url("../../images/quick-link3.jpg");
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      .quick-links-wrap .quick-item .right a:hover {
        background: rgba(199, 235, 86, 0.8); }

.latest-news {
  background: url("../../images/newsfeed.jpg");
  text-align: center;
  width: 100%;
  height: auto; }
  .latest-news h2 {
    padding-top: 75px; }
  .latest-news .latest-news-content {
    max-width: 1180px;
    margin: 0 auto;
    padding: 55px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    box-sizing: border-box; }
    .latest-news .latest-news-content .most-recent-story {
      background: #fff;
      height: auto;
      width: 31.25%;
      text-align: left;
      padding: 30px; }
      .latest-news .latest-news-content .most-recent-story img {
        float: right; }
    .latest-news .latest-news-content .recent-news {
      text-align: left;
      width: 68.75%;
      margin: 0 20px; }
      .latest-news .latest-news-content .recent-news .story {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .latest-news .latest-news-content .recent-news .story .story-date {
          margin: 1% 0px 0 5%; }
        .latest-news .latest-news-content .recent-news .story .story-title {
          margin: 0 5%; }
        .latest-news .latest-news-content .recent-news .story .story-icons {
          position: relative;
          margin-left: 20%;
          right: 0; }
  .latest-news .see-more {
    padding: 10px 20px;
    position: relative;
    bottom: 75px; }

.email-signup {
  background: #84bccf;
  margin: 0 auto;
  text-align: center; }
  .email-signup h2 {
    padding: 70px 0 50px 0;
    width: 60%;
    margin: 0 auto; }
  .email-signup form {
    width: 60%;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .email-signup form input {
      width: 90%;
      height: 45px;
      border: none;
      vertical-align: center; }
      .email-signup form input:focus {
        outline: none; }
    .email-signup form button {
      padding: 8.5px 11.5px;
      border: none;
      background: #feb942; }
  .email-signup p {
    width: 55%;
    margin: 0 auto;
    padding-bottom: 80px; }

.social-links {
  width: 100%;
  height: auto;
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .social-links img {
    width: 20px;
    height: 20px;
    margin: 15px; }

/*=====INTERNAL PAGE SPECIFIC===== */
.grid-container-internal {
  margin-top: 85px; }
