/*=====RESET===== */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*=====TYPOGRAPHY===== */
/*--General-- */
html {
  font-size: 80%; }

p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #000;
  font-weight: 400;
  line-height: 1.5; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #fff;
  font-weight: 900; }

h1 {
  font-family: "Lato", sans-serif;
  font-size: 3.714em;
  color: #fff;
  font-weight: 900; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/*--Header-- */
.top-nav form input {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 400; }

nav ul .dropdown {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #c7eb56;
  font-weight: 700; }
  nav ul .dropdown > a {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: #c7eb56;
    font-weight: 700; }
    nav ul .dropdown > a:visited {
      color: #c7eb56; }
  nav ul .dropdown ul .sub-nav a {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: #84bccf;
    font-weight: 400; }
    nav ul .dropdown ul .sub-nav a ul .flyout-nav a {
      font-family: "Lato", sans-serif;
      font-size: 1em;
      color: #84bccf;
      font-weight: 400; }

.donate {
  font-family: "Lato", sans-serif;
  font-size: 1.142em;
  color: #000;
  font-weight: 700;
  background-color: #feb942;
  padding: 12px 28px; }
  .donate:hover {
    color: #000; }

/*--Spotlight-- */
.spotlight-title {
  font-family: "Lato", sans-serif;
  font-size: 5.961em;
  color: #fff;
  font-weight: 900; }

.icon-next, .icon-prev {
  font-family: "Lato", sans-serif;
  font-size: 10em;
  color: #fff;
  font-weight: 900;
  height: 200%; }

.spotlight-subtitle {
  font-family: "Lato", sans-serif;
  font-size: 2.289em;
  color: #fff;
  font-weight: 700; }

.learn-more {
  font-family: "Lato", sans-serif;
  font-size: 1.142em;
  color: #000;
  font-weight: 700;
  background-color: #feb942;
  padding: 15px 56px; }
  .learn-more:hover {
    background-color: #c7eb56;
    color: #000; }

/*--Quick Links-- */
.quick-link a {
  font-family: "Lato", sans-serif;
  font-size: 2.398em;
  color: #fff;
  font-weight: 900; }

.quick-link-description {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #000;
  font-weight: 400; }

/*--Latest News-- */
.most-recent-date .month-day {
  font-family: "Lato", sans-serif;
  font-size: 1.857em;
  color: #84bccf;
  font-weight: 400; }

.most-recent-date .year {
  font-family: "Lato", sans-serif;
  font-size: 1.857em;
  color: #c0c0c0;
  font-weight: 400; }

.most-recent-title {
  font-family: "Lato", sans-serif;
  font-size: 1.571em;
  color: #000;
  font-weight: 700; }

.story-month {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #fff;
  font-weight: 400; }

.story-day {
  font-family: "Lato", sans-serif;
  font-size: 1.905em;
  color: #c7eb56;
  font-weight: 700; }

.story-title {
  font-family: "Lato", sans-serif;
  font-size: 1.286em;
  color: #c7eb56;
  font-weight: 700; }

.see-more {
  font-family: "Lato", sans-serif;
  font-size: 0.871em;
  color: #000;
  font-weight: 700;
  background-color: #feb942; }
  .see-more:hover {
    background-color: #c7eb56; }

input[placeholder] {
  font-family: "Lato", sans-serif;
  font-size: 1.142em;
  color: #b6b5b5;
  font-weight: 400;
  padding-left: 15px; }

/*--Aside-- */
aside {
  text-align: right;
  line-height: 2.5;
  margin-top: -0.75em; }
  aside ul .side-nav a {
    font-family: "Lato", sans-serif;
    font-size: 1.286em;
    color: #84bccf;
    font-weight: 700; }
  aside ul .side-nav ul li a {
    font-family: "Lato", sans-serif;
    font-size: 1.286em;
    color: gray;
    font-weight: 400; }

/*--Internal Main-- */
.main-content figcaption {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: gray;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5; }
.main-content h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.714em;
  color: #84bccf;
  font-weight: 900;
  margin-bottom: 30px; }
.main-content h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.571em;
  color: #000;
  font-weight: 700;
  margin: 30px auto; }
.main-content form {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: gray;
  font-weight: 400; }

/*--Footer-- */
footer p {
  color: #fff; }

#footer-company-name {
  color: #feb942; }

footer a {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #c7eb56;
  font-weight: 400; }

/*--Mobile adjustments-- */
@media (max-width: 700px) {
  nav ul .dropdown {
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
    color: #c7eb56;
    font-weight: 700; }

  .spotlight-subtitle {
    font-size: 1.5em; }

  footer a {
    font-size: 0.7em; } }
/*=====COMPONENTS===== */
/*Dropdown Menu */
.nav-wrap {
  z-index: 20;
  max-width: 1180px;
  margin: 0 auto;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000; }
  .nav-wrap > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 65%;
    z-index: 20; }
    .nav-wrap > ul .dropdown {
      margin: 0 20px 0 0; }
    .nav-wrap > ul > li {
      flex: 1 1 auto;
      align-self: center;
      padding: 13px 0; }
    .nav-wrap > ul li {
      text-align: left;
      display: inline-block;
      position: relative; }
      .nav-wrap > ul li:hover {
        background: url("../../images/active-menu2.png") bottom left no-repeat; }
        .nav-wrap > ul li:hover > ul {
          display: block; }
          .nav-wrap > ul li:hover > ul > .sub-nav:hover {
            background: url("../../images/active-menu.png") center right no-repeat;
            background-color: #84bccf; }
          .nav-wrap > ul li:hover > ul li:hover {
            background-color: #84bccf; }
            .nav-wrap > ul li:hover > ul li:hover > a {
              color: #000;
              font-weight: 700; }
            .nav-wrap > ul li:hover > ul li:hovera {
              margin: 13px 25px; }
      .nav-wrap > ul li a {
        display: block; }
    .nav-wrap > ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: -10%; }
      .nav-wrap > ul ul li {
        background-color: rgba(40, 42, 34, 0.9);
        border-top: 0.5px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        width: 180px;
        height: 45px;
        text-align: left; }
        .nav-wrap > ul ul li a {
          margin: 13px auto 13px 25px; }
      .nav-wrap > ul ul ul {
        top: 0;
        left: 100%; }

/*=====HEADER===== */
nav {
  background-color: #000;
  margin: 0 auto;
  max-width: 100%; }

.top-nav {
  width: 100%;
  height: 111px;
  background: rgba(0, 0, 0, 0.8); }
  .top-nav .top-nav-content {
    max-width: 1180px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .top-nav .top-nav-content form input {
      background: transparent;
      border: none; }
      .top-nav .top-nav-content form input:focus {
        border-bottom: solid 2px #fff;
        outline: none; }
    .top-nav .top-nav-content form button {
      background: transparent;
      border: none; }

.internal {
  background: url("../../images/internal-header.jpg");
  height: 399px;
  box-shadow: 0 10px 20px #000;
  text-align: center; }
  .internal h1 {
    position: absolute;
    top: 290px;
    width: 100%;
    margin: 0 auto;
    z-index: 10; }

/*=====FOOTER===== */
footer {
  background: url("../../images/footer.jpg"); }
  footer .footer-content {
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 140px 0;
    max-width: 1180px;
    margin: 0 auto; }
    footer .footer-content .footer-navigation {
      position: absolute;
      left: 20%; }
    footer .footer-content .copyright-section {
      text-align: right; }
      footer .footer-content .copyright-section img {
        margin-bottom: 30px;
        max-width: 100%; }

@media (max-width: 700px) {
  .footer-navigation {
    padding-left: 10%; } }
/*=====HOMEPAGE SPECIFIC===== */
.spotlight {
  max-width: 1180px;
  margin: 0% auto 300px auto;
  padding-top: 40%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .spotlight .spotlight-title {
    margin-bottom: 45px; }
  .spotlight .spotlight-subtitle {
    margin-bottom: 75px; }

.quick-links-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin: 0 auto 80px auto;
  max-width: 1180px;
  height: auto;
  background-color: #fff;
  box-sizing: border-box; }
  .quick-links-wrap .quick-item {
    margin: 80px 10px 0 10px; }
    .quick-links-wrap .quick-item .quick-link {
      display: flex;
      height: 250px;
      flex-direction: column;
      justify-content: flex-end; }
      .quick-links-wrap .quick-item .quick-link a {
        width: 100%;
        height: 145%;
        padding-top: 45%; }
    .quick-links-wrap .quick-item .quick-link-description {
      margin: 40px auto 0 auto;
      text-align: left; }
    .quick-links-wrap .quick-item .left {
      background: url("../../images/quick-link1.jpg");
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      .quick-links-wrap .quick-item .left a:hover {
        background: rgba(254, 185, 66, 0.8); }
    .quick-links-wrap .quick-item .middle {
      background: url("../../images/quick-link2.jpg");
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      .quick-links-wrap .quick-item .middle a:hover {
        background: rgba(132, 188, 207, 0.8); }
    .quick-links-wrap .quick-item .right {
      background: url("../../images/quick-link3.jpg");
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      .quick-links-wrap .quick-item .right a:hover {
        background: rgba(199, 235, 86, 0.8); }

.latest-news {
  background: url("../../images/newsfeed.jpg");
  text-align: center;
  width: 100%;
  height: auto; }
  .latest-news h2 {
    padding-top: 75px; }
  .latest-news .latest-news-content {
    max-width: 1180px;
    margin: 0 auto;
    padding: 55px 0px 100px 0px;
    box-sizing: border-box; }
    .latest-news .latest-news-content .most-recent-story {
      background: #fff;
      height: auto;
      text-align: left;
      padding: 30px;
      margin-top: 10px; }
      .latest-news .latest-news-content .most-recent-story img {
        float: right; }
      .latest-news .latest-news-content .most-recent-story .most-recent-date {
        padding-bottom: 40px; }
    .latest-news .latest-news-content .recent-news {
      text-align: left;
      margin: 0 auto; }
      .latest-news .latest-news-content .recent-news .story {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .latest-news .latest-news-content .recent-news .story .story-date {
          margin: 1% 0px 0 5%; }
        .latest-news .latest-news-content .recent-news .story .story-title {
          margin: 0 5%; }
        .latest-news .latest-news-content .recent-news .story .story-icons {
          position: relative;
          margin-left: 20%;
          right: 0; }
  .latest-news .see-more {
    padding: 10px 20px;
    position: relative;
    bottom: 75px; }

.email-signup {
  background: #84bccf;
  margin: 0 auto;
  text-align: center; }
  .email-signup h2 {
    padding: 70px 0 50px 0;
    width: 60%;
    margin: 0 auto; }
  .email-signup form {
    width: 60%;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .email-signup form input {
      width: 90%;
      height: 45px;
      border: none;
      vertical-align: center; }
      .email-signup form input:focus {
        outline: none; }
    .email-signup form button {
      padding: 8.5px 11.5px;
      border: none;
      background: #feb942; }
  .email-signup p {
    width: 55%;
    margin: 0 auto;
    padding-bottom: 80px; }

.social-links {
  width: 100%;
  height: auto;
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .social-links img {
    width: 20px;
    height: 20px;
    margin: 15px; }

/*=====INTERNAL PAGE SPECIFIC===== */
.grid-container-internal {
  margin-top: 85px; }
  .grid-container-internal aside {
    padding-right: 5%; }
    .grid-container-internal aside .side-nav {
      overflow: hidden; }
      .grid-container-internal aside .side-nav .expand {
        display: block;
        text-decoration: none;
        padding-right: 15px; }
      .grid-container-internal aside .side-nav .aside-closed-triangle {
        background: url("../../images/aside-closed-triangle.png") center right no-repeat; }
      .grid-container-internal aside .side-nav .aside-open-triangle {
        background: url("../../images/aside-open-triangle.png") center right no-repeat; }
    .grid-container-internal aside .sub-side-nav {
      display: none; }
  .grid-container-internal figure {
    margin: 60px 0 60px 0; }
    .grid-container-internal figure img {
      float: left; }
    .grid-container-internal figure figcaption {
      float: right; }
      .grid-container-internal figure figcaption hr {
        margin: 0; }
  .grid-container-internal form {
    margin: 30px auto;
    text-align: center; }
    .grid-container-internal form .fill-in {
      text-align: left; }
    .grid-container-internal form .labels {
      text-align: right; }
    .grid-container-internal form input {
      margin: 5px; }
    .grid-container-internal form label {
      margin: 9px 0px; }
    .grid-container-internal form select {
      border: 1px solid gray;
      border-radius: 0;
      background: #fff;
      margin: 0px 0px 5px 5px; }
    .grid-container-internal form .radio {
      margin: 5px;
      text-align: left; }
      .grid-container-internal form .radio input[type="radio"] {
        margin: 0 5px;
        width: 15px; }
      .grid-container-internal form .radio label {
        margin: 0px 1%; }
    .grid-container-internal form button[type="submit"] {
      margin: 5px;
      border: none;
      background: #feb942;
      padding: 12px 21px;
      color: #fff; }
      .grid-container-internal form button[type="submit"]:hover {
        background: #c7eb56; }
